[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cat2cat"]
	path = cat2cat
	url = https://github.com/polkas/cat2cat
[submodule "miceFast"]
	path = miceFast
	url = https://github.com/polkas/micefast
[submodule "pacs"]
	path = pacs
	url = https://github.com/polkas/pacs
